::backdrop {
  background-color: var(--primary-bg);
  opacity: 0.5;
}

dialog {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--divider-clr);
  background-color: var(--primary-bg);
  width: 500px;
  height: 500px;

  .add-task-container {
    .contents {
      border-radius: 16px;
      border: 1px solid var(--divider-clr);
      background-color: var(--secondary-bg);
      padding: 12px;
      gap: 8px;
      display: flex;
      flex-direction: column;

      input {
        background: none;
        border: none;
        outline: 0;
      }

      #task-name::placeholder,
      #task-name {
        color: var(--primary-txt);
        font-family: "inter-medium";
        font-size: 1.25rem;
      }

      #description::placeholder,
      #description {
        color: var(--secondary-txt);
      }
    }
  }
}
