nav.side-bar {
  grid-area: sidebar;
  background-color: var(--hover-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  min-width: 250px;

  .top {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    .profile {
      display: flex;
      gap: 10px;
      align-items: center;

      .avatar-wrapper-icon {
        width: 30px;
        height: 30px;
      }

      .profile-name {
        color: var(--primary-txt);
        font-family: "inter-semi-bold";
        font-size: 1.15rem;
      }

      .chevron-down-icon {
        width: 15px;
        height: 15px;
      }
    }

    .side-bar-icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  .add-task {
    padding: 0 16px;
    display: flex;

    button {
      cursor: pointer;
      flex: 1;
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--primary-txt);
      font-family: "inter-semi-bold";
      border-radius: var(--normal);
      padding: 8px 12px;
      background-color: var(--primary-red);
      border: none;

      .plus-circle-icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--divider-clr);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .top {
    color: var(--secondary-txt);
    font-family: "inter-bold";
    font-size: 0.875rem;
    display: flex;
    align-items: center;

    .plus-circle-icon path {
      stroke: var(--secondary-txt);
    }
  }

  .projects-list {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .project-tab {
      .project-name {
        .hash-icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.project-tab {
  color: var(--primary-txt);
  padding: 0 16px;
  display: flex;
  font-family: "inter-regular";

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
    padding: 8px 12px;
    border-radius: var(--normal);
    background-color: var(--project-tab-bg);

    span:first-of-type {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .count {
      color: var(--secondary-txt);
      font-size: 0.875rem;
    }
  }
}
