body {
  background-color: var(--primary-bg);
  display: grid;
  grid-template-areas: "sidebar top" "sidebar main";
  height: 100vh;
  width: 100vw;
  grid-template-rows: 59px 1fr;
  grid-template-columns: max-content 1fr;
}

@font-face {
  font-family: "inter-bold";
  src:
    url("./assets/fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-medium";
  src:
    url("./assets/fonts/Inter18pt-Medium.woff2") format("woff2"),
    url("./assets/fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-regular";
  src:
    url("./assets/fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-semi-bold";
  src:
    url("./assets/fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Backgrounds */
  --primary-bg: #1e1e1e;
  --secondary-bg: #282828;
  --divider-clr: #2f2f2f;
  --input-border-clr: #3a3a3a;
  --button-bg: #383838;
  --hover-bg: #262626;
  --project-tab-bg: #2d2d2d;

  /* Text */
  --primary-txt: #fff;
  --secondary-txt: #999;
  --disabled-txt: #808080;
  --light-txt: #f5f5f5;

  /* Accents & Labels */
  --primary-red: #dc4c3e;
  --primary-red-transparent: #dc4b3e4f;
  --red: #de4c4a;
  --green: #2ea44f;
  --green-tint-bg: #25352c;
  --orange: #e28743;
  --blue: #20639b;

  /* Corner Radius */
  --subtle: 4px;
  --normal: 8px;
  --rounded-radio: 12px;
}
